NODE_ENV=development
PORT=3001

# Backend API URL (local development)
NEXT_PUBLIC_API_BASE_URL=http://localhost:3002
# NEXT_PUBLIC_API_BASE_URL=https://agilaaudit-production-50a4.up.railway.app
NEXT_PUBLIC_MAIN_FRONTEND=https://ftms.agilabuscorp.me/admin/dashboard