NODE_ENV=development
PORT=4000

# Backend API URL (local development)
NEXT_PUBLIC_API_BASE_URL=http://localhost:4001
# NEXT_PUBLIC_API_BASE_URL=https://agilaaudit-production.up.railway.app
# NEXT_PUBLIC_MAIN_FRONTEND=https://ftms.agilabuscorp.me/admin/dashboard
NEXT_PUBLIC_MAIN_FRONTEND=http://localhost:3000/admin/dashboard