NODE_ENV=development
PORT=4001

# CORS - Allow frontend to access backend API
CORS_ORIGIN=http://localhost:4000
# CORS_ORIGIN=https://agila-audit-frontend.vercel.app

#DATABASE_URL="postgresql://postgres:alice8sca@localhost:5432/audit_db?schema=public"
DATABASE_URL="postgresql://postgres:fUApXHmDtLDaPjALpFgBvIRqdSMBsHMP@metro.proxy.rlwy.net:57078/railway"

JWT_SECRET=placeholder_here
DISABLE_AUTH=true

ENABLE_API_DOCS=true
API_DOCS_PATH=/docs

EMAIL_USER=agilafinance0@gmail.com
# For Services like Resend/SendGrid, the user is often "apikey"
EMAIL_APP_PASSWORD=re_EJS41SFq_BmSzMu3X4x978r9RPNepGuBk
RESEND_API_KEY=re_EJS41SFq_BmSzMu3X4x978r9RPNepGuBk

# FINANCE_API_KEY=FINANCE_DEFAULT_KEY
# HR_API_KEY=HR_DEFAULT_KEY
# INVENTORY_API_KEY=INVENTORY_DEFAULT_KEY
# OPERATIONS_API_KEY=OPERATIONS_DEFAULT_KEY
# BUDGET_API_KEY=BUDGET_DEFAULT_KEY

# SERVICE_NAME=audit-logs-microservice
# PRISMA_LOG_LEVEL=info